* {
  padding: 0;  
  margin: 0;
  box-sizing: border-box;
}

ol,ul,li{
 list-style: none;
}

a{
    /* 文本装修 （下划线没有）*/
    text-decoration: none; 
    color: #000;
    /* 鼠标变小手 */
    cursor: pointer;
}

input{
    /* outline外轮廓线: [outline-width] [outline-style] [outline-color] */
    outline:  none;
    border: 0 none;
}